name: Docker

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build and start services with docker compose
        run: |
          docker compose up --build -d
          sleep 5  # Wait for services to start

      - name: Show server logs
        run: docker compose logs python-template-server

      - uses: ./.github/actions/docker-check-containers
        with:
          port: 443

      - name: Stop services
        run: docker compose --profile cpu down --volumes --remove-orphans
